<a href="https://colab.research.google.com/github/azdinelaaouissi/data_cars/blob/main/web_scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [66]:
import requests
from bs4 import BeautifulSoup
import csv
import  pandas  as  pd

# data  for  https://www.moteur.ma/fr/voiture/

In [73]:
for  i in  range(0,11):
  url="https://www.moteur.ma/fr/voiture/achat-voiture-occasion/"+str(i*30)
  print(url)

https://www.moteur.ma/fr/voiture/achat-voiture-occasion/0
https://www.moteur.ma/fr/voiture/achat-voiture-occasion/30
https://www.moteur.ma/fr/voiture/achat-voiture-occasion/60
https://www.moteur.ma/fr/voiture/achat-voiture-occasion/90
https://www.moteur.ma/fr/voiture/achat-voiture-occasion/120
https://www.moteur.ma/fr/voiture/achat-voiture-occasion/150
https://www.moteur.ma/fr/voiture/achat-voiture-occasion/180
https://www.moteur.ma/fr/voiture/achat-voiture-occasion/210
https://www.moteur.ma/fr/voiture/achat-voiture-occasion/240
https://www.moteur.ma/fr/voiture/achat-voiture-occasion/270
https://www.moteur.ma/fr/voiture/achat-voiture-occasion/300

In [79]:
data=[]
for  i in  range(0,11):

  url="https://www.moteur.ma/fr/voiture/achat-voiture-occasion/"+str(i*30)
  response=requests.get(url)
  response.encoding="utf-8"
  if response.status_code==200:
    html=response.text
    soup=BeautifulSoup(html,"html.parser")
    annonces=soup.findAll("div",class_="content-inner")


    for  annonce in  annonces:
        marque=annonce.find("a",class_="slide").text.strip()
        prix=annonce.find("div",class_="PriceListing").text.strip()
        other=annonce.find("div", class_="meta").find("ul").findAll("li")
        if  prix=="Appeler pour le prix" or other[0].text.strip()=="Se faire rappeler":
          prix=None
          other=annonce.findAll("div", class_="meta")[1].find("ul").findAll("li")
        if len(other) ==5:
          other.pop(0)
        modele=other[0].text.strip()
        ville=other[1].text.strip()
        carburant=other[2].text.strip()
        data.append({"marque":marque,"modele":modele,"ville":ville,"carburant":carburant,"prix":prix})
        #print(f"======{marque}=======")
    #print(data[0]["marque"])

  else:
    print(f"error:{response.status_code}")
df=pd.DataFrame(data)
print(df)
df.to_csv('annonces.csv', index=False)

                                                marque modele       ville  \
0    FORD  Focus 5p\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t...   2013         Fes
1    VOLKSWAGEN  Passat\t\t\t\t\t\t\t\r\n\t\t\t\t\t...   2004      Agadir
2                                        DACIA  Dokker   2019       Rabat
3                                  ALFA-ROMEO  Stelvio   2019       Rabat
4                                           SEAT  Leon   2016       Rabat
..                                                 ...    ...         ...
325                                   DACIA  Logan mcv   2019  Casablanca
326                              RENAULT  Megane sedan   2023  Casablanca
327                     LAND-ROVER  Range rover evoque   2020  Casablanca
328                                          FIAT  500   2015   Marrakech
329                                      HYUNDAI  H100   2020   Marrakech

    carburant         prix
0      Diesel  119 000 Dhs
1      Diesel   77 000 Dhs
2      Diesel  116 000 Dhs
3      Diesel  259 000 Dhs
4      Diesel  155 000 Dhs
..        ...          ...
325    Diesel   87 000 Dhs
326    Diesel  250 000 Dhs
327    Diesel  352 000 Dhs
328   Essence         None
329    Diesel         None

[330 rows x 5 columns]

In [80]:
df.shape

(330, 5)